<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" tables="package_profile">
        <id column="id" property="id"/>
        <result column="pkg_name" property="pkgName" langType="string"/>
        <result column="pkg_desc" property="pkgDesc" langType="string"/>
        <result column="repo_url" property="repoUrl" langType="string"/>
        <result column="pkg_version" property="pkgVersion" langType="string"/>
        <result column="author_name" property="authorName" langType="string"/>
        <result column="author_email" property="authorEmail" langType="string"/>
        <result column="author_desc" property="authorDesc" langType="string"/>
        <result column="pri_filename" property="priFilename" langType="string"/>
        <result column="created_at" property="createdAt" langType="time.Time"/>
        <result column="updated_at" property="updatedAt" langType="time.Time"/>
    </resultMap>

    <select id="SelectByPkgNameAndPkgVersion" resultMap="BaseResultMap">
        SELECT id, pkg_name, pkg_desc, repo_url, pkg_version, author_name, author_email,
            author_desc, pri_filename, created_at, updated_at
        FROM package_profile
        WHERE pkg_name = #{pkgName}
        <if test='pkgVersion!=null or pkgVersion!=""'>
            AND pkg_version = #{pkgVersion}
        </if>
    </select>

    <select id="SelectLastVersionByPkgNameLike" resultMap="BaseResultMap">
        SELECT p.id, p.pkg_name, p.pkg_desc, p.repo_url, p.pkg_version, p.author_name, p.author_email,
            p.author_desc, p.pri_filename, p.created_at, p.updated_at
        FROM last_version v
        JOIN package_profile p ON v.pkg_profile_id = p.id
        WHERE v.pkg_name LIKE #{pkgName}
        ORDER BY v.created_at DESC
    </select>

    <insertTemplete id="Insert" resultMap="BaseResultMap"/>

    <select id="CountByPkgNameAndPkgVersion" resultMap="BaseResultMap">
        SELECT count(*) FROM package_profile
        WHERE pkg_name = #{pkgName} AND pkg_version = #{pkgVersion}
    </select>
</mapper>