<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" tables="upgrade_version">
        <id column="id" property="id"/>
        <result column="version" property="version" langType="string"/>
        <result column="versionSort" property="version_sort" langType="string"/>
        <result column="description" property="description" langType="string"/>
        <result column="path" property="path" langType="string"/>
        <result column="created_at" property="createdAt" langType="time.Time"/>
        <result column="updated_at" property="updatedAt" langType="time.Time"/>
    </resultMap>

    <select id="SelectLatestVersion" resultMap="BaseResultMap">
        SELECT u.id, u.version, u.version_sort, u.description, u.path, u.created_at, u.updated_at
        FROM upgrade_version u
        WHERE u.version_sort = (SELECT max(version_sort) FROM upgrade_version)
    </select>

    <select id="SelectByVersion" resultMap="BaseResultMap">
        SELECT id, version, version_sort, description, path, created_at, updated_at
        FROM upgrade_version WHERE version = #{version}
    </select>

    <select id="CountByVersion" resultMap="BaseResultMap">
        SELECT count(*) FROM upgrade_version WHERE version = #{version}
    </select>

    <insertTemplete id="Insert" tables="upgrade_version"/>
</mapper>